@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.18);
    --text-shadow: -3px 1px 6px rgba(0, 0, 0, 0.33);
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}


body {
    margin: 0;
    padding: 0;
    background-color: grey;
    scroll-behavior: smooth;
    font-family: 'Geologica', sans-serif;
}

#hero {
    width: 100%;
    height: 125vh;
    background-image: linear-gradient(rgba(14, 13, 13, 0.4), rgba(0, 0, 0, 0.3)), url(./images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}
#tog{
    color: darkcyan;
}

#sub-hero {
    height: 550px;
    color: white;
}

.navbar {
    background: transparent;
    padding: 20px;
}

.nav-item .nav-link {
    color: white;
    font-size: 18px;
    font-weight: 450;
    letter-spacing: 1px;
    transition: .5s;
}

.nav-item .nav-link:hover {
    color: darkcyan;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.navbar-brand span {
    color: darkcyan;
}

.navbar-brand:hover {
    color: darkcyan;
    transition: .5s;

}

.btn1 {
    padding: 5px 20px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: .5s;
}

.btn1:hover {
    background-color: white;
    border: none;
    color: darkcyan;
    /* transition: .5s; */
}

.main-text h3 {
    font-size: 16px;
    letter-spacing: 1px;
}

.main-text h2 {
    font-size: 50px;
    font-weight: 600;
}

.main-text p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.image-group img {
    width: 100px;
    /* background-color: white; */
}

#icons {
    color: white;
}

#card-effect {
    border: none;
    background: transparent;
    color: white;

}

#card-effect h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

#card-effect p {
    font-size: 14px;
    letter-spacing: 1px;

}

#sub-text h2 {
    font-size: 35px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: white;
    letter-spacing: 1px;

}

#sub-text p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    letter-spacing: 1px;


}

#sub-text2 {
    margin-top: 150px;
    color: white;
    letter-spacing: 1px;
}

#sub-text2 .text h2 {
    font-size: 35px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}

#sub-text2 p {
    font-size: 16px;
    text-align: justify;
}

#image-container img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

#card-role {
    background: darkcyan;
    color: white;
    padding: 10px;
    border-radius: 0;
    height: 220px;

}

#card-role h4 {
    font-size: 14px;
}

#card-role h2 {
    font-size: 18px;
    font-weight: 550;
}

#card-role p {
    font-size: 14px;
}

#image-box {
    padding-top: 120px;
    padding-bottom: 100px;
}

#card-roles {
    background: darkcyan;
    color: white;
    padding: 10px;
    border-radius: 0 0 0 20px;
    height: 220px;
}

#card-roles h4 {
    font-size: 14px;
}

#card-roles h2 {
    font-size: 18px;
    font-weight: 550;
}

#card-roles p {
    font-size: 14px;
}

#card-roless {
    background: darkcyan;
    color: white;
    padding: 10px;
    border-radius: 0 0 20px 0px;
    height: 220px;

}

#card-roless h4 {
    font-size: 14px;
}

#card-roless h2 {
    font-size: 22px;
    font-weight: 550;
}

#image-box a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.about-text p {
    color: white;
    font-size: 18px;
    font-weight: 400;
}


#sub-text3 h2 {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: justify;

}

#about-img img {
    width: 100%;
    height: 500px;
    border-radius: 10%;

}

.about-words h4 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    text-align: justify;
}

.about-words p {
    font-size: 16px;
    letter-spacing: 1px;
    text-align: justify;
    color: white;

}

.about-words a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.about-words a:hover {
    color: black;
    transition: .5s;
}

.about-words h3 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    text-align: justify;

}

#contacts {
    padding-top: 100px;
}

#subscribe {
    background: darkcyan;
    padding: 60px 60px;
    border-radius: 20px;
}

#subscribe h2 {
    font-size: 30px;
    color: white;
    font-weight: 500;
}

#inp {
    display: flex;
}

#inp input {
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

#btn4 {
    padding: 10px;
    height: 50px;
    width: 200px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    background: transparent;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    margin-left: 10px;
}

#btn4:hover {
    background: white;
    color: darkcyan;
    transition: .5s;
}

.testimonial {
    padding-top: 120px;
}

.testimonial-text h2 {
    font-size: 30px;
    color: whitesmoke;
    font-weight: 400;
}

.testimonial-text P {
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
}

#testi h2 {
    font-size: 18px;
}

#testi img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

#contact {
    margin-top: 100px;
    width: 100%;
    /* height: 500px; */
    background: darkcyan;
}

#contact h2 {
    font-size: 50px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
}

#contact h3 {
    font-size: 30px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
}

#contact h4 {
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-align: justify;

}


form input {
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px;
    padding: 10px;
}

form textarea {
    border: none;
    border-radius: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 150px;
    padding: 10px;
}

.social-icon i {
    color: darkcyan;
    font-size: 25px;
    /* margin: 10px; */
    padding: 5px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
}

.social-icon i:hover {
    color: white;
    background: black;
    transition: .5s;
}

footer {
    color: white;
}

.text-reset {
    text-decoration: none;
}

#text-list ul li {
    list-style: none;
}

#foot h6 {
    font-size: 25px;
    letter-spacing: 1.5;
}

#foot span {
    color: darkcyan;
}

#foot-links p {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

#foot-links p:hover {
    color: darkcyan;
    transition: .5s;

}

@media (max-width:768px) {
    #hero {
        height: 100vh;
    }
    
    .brands {
        display: none;
    }

    .nav-item .nav-link {
        font-size: 16px;
        font-weight: 400;
    }

    .navbar-brand {
        font-size: 25px;
        font-weight: 500;
    }

    .btn1 {
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 400;
    }

    .main-text h3 {
        font-size: 14px;
    }

    .main-text h2 {
        font-size: 35px;
        font-weight: 500;
    }

    .main-text p {
        font-size: 14px;
        font-weight: 200;
    }

    #card-effect h2 {
        font-size: 15px;
        font-weight: 400;
    }

    #card-effect p {
        font-size: 13px;
    }

    #sub-text h2 {
        font-size: 30px;
        font-weight: 500;

    }

    #sub-text p {
        font-size: 14px;

    }

    #sub-text2 {
        margin-top: 80px;
    }

    #sub-text2 .text h2 {
        font-size: 30px;
        font-weight: 450;

    }

    #image-box {
        padding-top: 80px;
    }

    #card-role {
        padding: 5px;

    }

    #card-role h4 {
        font-size: 14px;
    }

    #card-role h2 {
        font-size: 16px;
        font-weight: 500;
    }

    #card-role p {
        font-size: 13px;
    }


    #card-roles {
        padding: 5px;
    }

    #card-roles h4 {
        font-size: 14px;
    }

    #card-roles h2 {
        font-size: 16px;
        font-weight: 500;
    }

    #card-roles p {
        font-size: 13px;
    }

    #card-roless {
        padding: 5px;
    }

    #card-roless h4 {
        font-size: 14px;
    }

    #card-roless h2 {
        font-size: 16px;
        font-weight: 500;
    }

    .about-text p {
        font-size: 16px;
    }


    #sub-text3 h2 {
        font-size: 25px;
        font-weight: 450;

    }

    #about-img img {
        width: 100%;
        height: 300px;

    }

    .about-words h4 {
        font-size: 18px;
        font-weight: 450;
    }

    .about-words p {
        font-size: 15px;

    }

    .about-words a {
        font-size: 18px;
    }

    .about-words h3 {
        font-size: 16px;
        font-weight: 400;

    }

    #contacts {
        padding-top: 80px;
    }

    #contacts {
        padding-top: 80px;
    }

    #subscribe {
        padding: 40px 40px;
        border-radius: 10px;
    }

    #subscribe h2 {
        font-size: 25px;
        font-weight: 450;
    }

    #inp input {
        /* height: 40px; */
        font-size: 16px;
        font-weight: 450;
    }

    #btn4 {
        padding: 10px;
        /* height: 40px; */
        width: 150px;
        font-size: 16px;
        font-weight: 450;
        margin-left: 5px;
    }
    #contact {
        margin-top: 80px;
    }
    
    #contact h2 {
        font-size: 40px;
        font-weight: 450;
    }
    
    #contact h3 {
        font-size: 25px;
        font-weight: 450;
    }
    
    #contact h4 {
        font-size: 15px;
    
    }
    .testimonial {
        padding-top: 100px;
    }
    
    .testimonial-text h2 {
        font-size: 25px;
        font-weight: 400;
    }
    
    .testimonial-text P {
        font-size: 15px;
    }
    
}
@media (max-width:425px) {
    .navbar-brand {
        font-size: 20px;
        font-weight: 450;
    }
    .main-text h3 {
        font-size: 14px;
    }

    .main-text h2 {
        font-size: 30px;
        font-weight: 500;
    }

    .main-text p {
        font-size: 14px;
        font-weight: 200;
    }
    #sub-text2 .text h2 {
        font-size: 25px;
        font-weight: 400;

    }
    #sub-text2 p {
        font-size: 14px;
    }
    #card-roles {
        border-radius: 0 0 0 0px;
    }
    #card-roless {
        border-radius: 0 0 20px 20px;
    
    }
    #sub-text3 h2 {
        font-size: 20px;
        font-weight: 400;
    }
    #contacts {
        margin-left: 20px;
        margin-right: 20px;
    }
    #subscribe {
        padding: 20px 20px;
        border-radius: 10px;
    }
    #inp {
        display: block;
    }
    #btn4 {
        padding: 10px;
        width: 100%;
        margin: 0 auto;
    }
    #inp input {
        margin-bottom: 10px;
    }
    
    
    

    

    
    
    






}